<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>I'm interested in...</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="#interest of interests" (click)="itemTapped($event, interest)">
      <ion-icon name="{{interest.name}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
