<ion-navbar *navbar>

    <ion-title>Activities</ion-title>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item ng-repeat="event in events track by $index">
            <ion-avatar item-left>
              <img src=#{{event.eventImage}}>
            </ion-avatar>
            <h2>{{event.eventName}}</h2>
            <p>{{event.eventDescription}}</p>
            <p>{{event.venueName}}</p>
            <p>{{event.eventDateTimes.datetime.date}}</p>
            <p>Start: {{event.eventDateTimes.datetime.time}} - End: {{event.eventDateTimes.datetime.end_time}}</p>
        </ion-item>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
